<?xml version="1.0" encoding="utf-8"?>
<!-- MacLean_Ritchie_S1828592 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.me.gcu.equakestartercode">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Maclean_ritchie_S1828592"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EQuakeStarterCode">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCTCCTuyMvs2jsh2e51u0CPxuua687fGr4"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyMapClass"
            android:label="myMap" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>